#notesSubtitle {
    margin: 12px;
}

#addNoteButton {
    padding: 7px 15px;
}

#portfolio {    
    padding-top: 30px;
    padding-bottom: 50px;
}

.overlayimg {
    width: 349.984px;
    height: 262px;
    background-color: lightgray;
}

.button-icon {
    font-size: 1.2em;
    vertical-align: text-bottom;
    padding-left: 6px;
}