#notesSubtitle {
    margin: 12px;
    margin-bottom: 15px;
}

#addNoteButton {
    padding: 6px 14px;padding-bottom: 15px;
}

#portfolio {    
    padding-top:30px;
    padding-bottom: 50px;
}

#notesListRow {
    padding: 12px;
}

#overlayimg {
    width: 349.984px;height: 262px;
}
